*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    padding: 20px;
    /* background-color: grey; */
    box-shadow: 2px 2px 5px black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: center;
}

.nav a{
    text-decoration: none;
    color: rgb(136, 104, 56);
    padding: 10px;
}

.nav a:hover{
    border-bottom: 1px solid rgb(136, 104, 56);
}

.img{
    background-image: url(https://plus.unsplash.com/premium_photo-1661508848044-3d12b7955be3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}